.preview {

    min-width: 200px;
    min-height: 200px;
    background-color: yellow;
    margin: auto;
    display: flex;

}

.after-preview-button{
    display: inline-block;
}

.after-preview-header {
    left: 50%;
    transform: translate(-50%);
    width: fit-content;
    position: relative;
}