{% extends 'app_main/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href = {% static "app_main/read_file_styles.css" %} >
{% endblock %}

{% block content %}
    <style>
        tr.red {
            background-color: #fc6f65;
        }

        tr.red:nth-child(even) {
            background-color: #f85e53;
        }

        html, body {
            height: 100%;
            overflow-y: auto;
        }

        .links_table {
            width: 100%;
            table-layout: fixed;
        }

        .platform-column {
            width: 20%;
        } 

        .link-column {
            overflow-wrap: break-word;
        }

        .table-legend {
            color:#f85e53;
        }
    </style>
    <script>
        
        const confirm_add_file_url = "{% url 'confirm_add_file' %}";
        const add_file_url = "{% url 'add_file' %}";
    </script>
    
    <script src = "{% static 'app_main/process_input_file.js' %}" ></script>
    
    <h1>Przesyłanie pliku z linkami</h1>
    <div class="container d-flex w-50">
        <form method="post" enctype="multipart/form-data" class="d-flex flex-column align-items-center">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" style="width: fit-content;">Wyślij plik</button>
        </form>
    </div>
    {% if message %}
        <div class = "hide_after_data_added">
            <p>
                {{ message }}
            </p>
        </div>
    {% endif %}
    
    {% if new_links_preview or other_links_preview %}
        <div class = "hide_after_data_added">
            <h3 class = "after-preview-header mt-2 mb-2"> Dane, które zostaną dodane do bazy: </h3>
            <p class="table-legend">Na czerwono oznaczono duplikaty oraz linki, które są już są w bazie.</p>
            <div class="d-flex justify-content-center">
                <button id="submit-after-preview" class="d-inline-block me-2 mb-2 mt-2"> Zatwierdź </button>
                <button id="cancel-after-preview" class="d-inline-block ms-2 mb-2 mt-2"> Anuluj </button>
            </div>
            <table class = "links_table">
            <tr>
                <th class="platform-column">Platform</th>
                <th>Link</th>
            </tr>
            {% for data_row in new_links_preview %}
                <tr>
                    <td class="platform-column">{{ data_row.platform }}</td> 
                    <td class="link-column"> {{  data_row.link }}</td>
                </tr>
            {% endfor %}
            {% for data_row in other_links_preview %}
                <tr class="red">
                    <td class="platform-column">{{ data_row.platform }}</td>
                    <td class="link-column"> {{  data_row.link }}</td>
                </tr>
            {% endfor %}
            </table>
        </div>
    {% endif %}
    
{% endblock %}
