{% extends 'app_main/base.html' %}
{% block content %}
    <h1>Przesyłanie pliku z linkami</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Wyślij plik</button>
    </form>
    {% if message %}
    <div>
        {{ message }}
        <p>
            Plik zawierał <b>{{ total_links }}</b> linków, przy czym  <b>{{ total_unique_links }}</b> nie znajdowało się w bazie.
        </p>
    </div>
    {% endif %}
{% endblock %}
