{% extends 'app_main/base.html' %}
{% load static %}


{% block content %}
    <div class="d-flex justify-content-center">
        <h2> Eksport linków wraz z przyznanymi kategoriami. </h2>
    </div>
    
    <div class="d-flex justify-content-center">
        <a href="{% url 'export_file' %}">
        <button onclick="" class = "me-2"> 
            Eksportuj jeszcze niewyeksportowane. ({{ with_categories_not_exported_count }} pozycji)
        </button>
        </a>
        <a href="{% url 'export_file' %}?type=all">
        <button> Eksportuje wszystkie ({{ with_categories_count }} pozycji) </button>
        </a>
    </div>

    
    
{% endblock %}
