{% extends 'app_main/base.html' %}
{% load static %}


{% block content %}
    <style>
        #post-btn, #profile-btn {
            width: 200px;
        }

        #profile-btn {
            background-color: gray;
        }

        #profile-export {
            display: none;
        }
    </style>

    <div class="d-flex justify-content-center">
        <button id="post-btn">Eksportuj posty</button>
        <button id="profile-btn">Eksportuj profile</button>
    </div>
    <div id="post-export">
        <div class="mt-3 mb-2 d-flex justify-content-center">
            <h2> Eksport linków postów wraz z przyznanymi kategoriami. </h2>
        </div>
        
        <div class="d-flex justify-content-center">
            <a href="{% url 'export_file' %}?type=posts" class="text-decoration-none">
                <button onclick="" class = "me-2"> 
                    Eksportuj jeszcze niewyeksportowane. ({{ with_categories_not_exported_count }} pozycji)
                </button>
            </a>
            <a href="{% url 'export_file' %}?type=posts&selection=all" class="text-decoration-none">
                <button> Eksportuj wszystkie ({{ with_categories_count }} pozycji) </button>
            </a>
        </div>
    </div>
    <div id="profile-export">
        <div class="mt-3 mb-2 d-flex justify-content-center">
            <h2> Eksport linków do profili. </h2>
        </div>
        
        <div class="d-flex justify-content-center">
            <a href="{% url 'export_file' %}?type=posts" class="text-decoration-none">
                <button onclick="" class = "me-2"> 
                    Eksportuj jeszcze niewyeksportowane. ({{ profiles_not_exported_count }} pozycji)
                </button>
            </a>
            <a href="{% url 'export_file' %}?type=posts&selection=all" class="text-decoration-none">
                <button> Eksportuj wszystkie ({{ profiles_count }} pozycji) </button>
            </a>
        </div>
    </div>
    <script>
        const post_btn = document.getElementById("post-btn");
        const profile_btn = document.getElementById("profile-btn");

        post_btn.addEventListener("click", function() {
            document.getElementById("post-export").style.display = "block";
            document.getElementById("profile-export").style.display = "none";
            post_btn.style.backgroundColor = "#181818";
            profile_btn.style.backgroundColor = "gray";
        });
        profile_btn.addEventListener("click", function() {
            document.getElementById("post-export").style.display = "none";
            document.getElementById("profile-export").style.display = "block";
            post_btn.style.backgroundColor = "gray";
            profile_btn.style.backgroundColor = "#181818";
        });
    </script>
{% endblock %}
