{% extends 'app_main/base.html' %}
{% load static %}


{% block head %}
    <style>
        .content {
            padding: 0;
        }
        html, body {
            overflow: hidden;
        }
    </style>
{% endblock %}


{% block content %}
    
    <script>
        let page_number = {{ page_number }};
    </script>
    
    
    <div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v18.0" nonce="4yZKh3fW"></script>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    

    
    <div id = "link-panel-content" class="box">
        <div class="left">
        
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <div class="d-flex w-100 justify-content-between align-items-center">
                        <form class="flex-grow-1 me-2">
                            <input class="form-control" type="search" placeholder="Wyszukaj..."
                                   aria-label="Search items" v-model="search_input" @input="onSearchInput">
                        </form>
                        <div class="ms-1 me-2 " > sortowanie: </div>
                        <select class="form-select me-2" style="width: auto;" aria-label="Sort items" 
                                v-model="profile.sorting" @change="onSortingChange">
                            <option v-for="s in sorting_types" :value="s" >
                                [[ sorting_mapper[s] ]]
                            </option>
                        </select>
                        <div class = "ms-1 me-2"> ile na stronie: </div>
                        <select class="form-select me-2" style="width: auto;" aria-label="Items per page"
                                v-model="selected_item" @change="onItemsPerPageChange">
                            <option value="5" >5 </option>
                            <option value="10">10 </option>
                            <option value="20">20 </option>
                            <option value="50">50</option>
                        </select>
                        <a href="/add_link/link_panel" class="btn btn-success">
                            Dodaj link
                        </a>
                    </div>
                </div>
            </nav>
            
            {# Handle searching case #}
            <div v-if="search_input.length !== 0">
                <div v-if="links_to_show === null">
                    Ładowanie wyników wyszukiwania...
                </div>
                <div v-if="links_to_show.length === 0">
                    Podana fraza nie została znaleziona.
                </div>
            </div>
        
            {# Handle cases where there are links to show #}
            <div v-if="links_to_show !== null && links_to_show.length !== 0">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Link</th>
                        <th scope="col">Data dodania</th>
                        <th scope="col">Kategoria</th>
                        <th scope="col">Akcje</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr @click="showLink(link)" v-for="(link, index) in links_to_show_computed" :class="{'border-2 border-primary' : link.id === currently_shown_id}" :key="link.id">
                        <td><a :href="link.link"> [[link.short_link]] </a></td>
                        <td>[[link.readable_date]]</td>
                        <td>
                            <select class="form-select" :class="{'border-3 border-success': !link.category.is_null}" v-model="link.category.id" @change="onCategoryChange(link)">
                                <option v-for="category in categories" :value="category.id">
                                    [[ category.name ]]
                                </option>
                            </select>
                        </td>
                        <td>
                            <button class="btn btn-primary btn-sm me-2 mb-1 mt-1" @click="editLink(link)"> Edytuj </button>
                            <button class="btn btn-danger btn-sm mb-1 mt-1" @click="delLink(link)"> Usuń </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="pagination">
                {% if links_with_forms.has_previous %}
                    <a href="?page=1" class="page-link">&laquo; pierwsza</a>
                    <a href="?page={{ links_with_forms.previous_page_number }}" class="page-link">< poprzednia</a>
                {% endif %}

                <div class="current page-info">
                    Strona {{ links_with_forms.number }} z {{ links_with_forms.paginator.num_pages }}.
                </div>

                {% if links_with_forms.has_next %}
                    <a href="?page={{ links_with_forms.next_page_number }}" class="page-link">następna ></a>
                    <a href="?page={{ links_with_forms.paginator.num_pages }}" class="page-link">ostatnia &raquo;</a>
                {% endif %}
            </div>
        </div>
        
        <div id="right-wrapper"> 
            
            <div v-if="show_spinner" id="spinner-container">
                <div id="spinner" class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
            <div :class="{'d-none' : show_spinner}" class="right" id="right"></div>

        </div>
    
{#        <div class="right" id="right"></div>#}
    
    </div>

    <script type="module">
        import {createApp, ref, computed} from 'vue'


        
        async function getItemsPerPage(selected_item) {
            await fetch(get_links_per_page_url)
                .then(response => {
                    if (response.ok) {
                        return response.json();
                    } else {
                        throw new Error("Network response was not ok.")
                    }
                }).then(data => {
                    console.log(data["links_per_page"])
                    selected_item.value = data["links_per_page"]

            }).catch(error => {
                console.error("Error:", error);
            })

        }
        
        function getCategories(categories) {
            axios.get("/api/categories")
                .then(response => {
                    categories.value = response.data;
                })
                .catch(error => {
                    console.error("Error getting categories.", error);
                })
            
        }
        
        // Add readable dates and truncated links
        function preprocessLinks(links) {
            links.forEach((elem) => {
                elem.short_link = truncateLink(elem.link);
                elem.readable_date = showDate(elem.date);
            })
        }
        
        /** @param {Object[]} categories vue object with an array of objects representing categories
         *  @param {number} id
         *  @returns {Object} */
        function categoryFromId(categories, id) {
            return categories.find((elem) => {return elem.id === id});
        }
        
        function getSortingTypes(sorting_types) {
            axios.get("/sorting/")
                .then(response => { sorting_types.value = response.data;
                console.log(response.data)})
                .catch(error => { console.error("Failed loading sorting types. ", error)})
        }

        function getProfile(profile) {
            axios.get(current_user_url)
                .then(response => {profile.value = response.data;
                console.log("here", response.data)})
                .catch(error => {console.error("Failed to get current user.", error)})
        }
        
        
        createApp({
            setup() {
                
                // Model for selecting links per page count
                const selected_item = ref(0);
                
                const search_input = ref("");
                
                const categories = ref(null);
                
                const sorting_types = ref(null);
                
                const profile = ref({sorting: "loading..."});
                
                const show_spinner = ref(false);
                
                // Indicates the selected link (the one which preview loads on the right)
                const currently_shown_id = ref(-1);
                
                const search_results = ref(null) // link search results
                const normal_links = ref(null)   // links for current page
                const links_to_show = ref(null)  // variable used to show links

                const sorting_mapper = ref({with_no_categories_first: "bez kategorii najpierw",
                    by_date: "od najstarszych", by_link: "linki alfabetycznie"})
                
                
                
                const links_to_show_computed = computed(() => {
                    return links_to_show.value.filter(elem => !elem.deleted);
                })


                // Load categories
                getCategories(categories)
                
                // Get sorting data
                // getCurrentSorting(current_sorting);
                getSortingTypes(sorting_types);

                getProfile(profile);

                

                
                // Download normal links and save them to links_to_show and normal links variables
                axios.get(get_links_on_page_url + "?page=" + page_number)
                    .then(response => {
                        console.log(response.data);
                        preprocessLinks(response.data);
                        links_to_show.value = response.data;
                        normal_links.value = response.data;
                    })
                    .catch(error => {console.log("Error getting links to show on current page", error)})


                
                // Download the number of links per page from the server
                // and fill the variable selected_item to change form view
                getItemsPerPage(selected_item)
                
                const delLink = (link) => {
                    if (confirm("Czy na pewno chcesz usunąć link?")) {
                        axios.get("/delete_link/" + link.id +"/link_panel")
                            .then( (response) => {
                                link.deleted = true;    
                            })
                            .catch((error) => {console.error("Failed to delete link", error)})
                    }
                }
                
                const editLink = (link) => { window.location.href = edit_link_url(link.id); }
                    
                // Show embedded view on right part of the screen
                async function showLink(link) {
                    if (currently_shown_id.value !== link.id) {
                        currently_shown_id.value = link.id;
                        
                        // Show spinner while content is loading
                        show_spinner.value = true;
                        await show(link.link);
                        show_spinner.value = false;
                    }
                }
                
                const onCategoryChange = (link) => {
                    // Change category manually, because only category id updates automatically
                    // Find category by id and copy it to the link.category field using {...  } syntax
                    link.category = {...categoryFromId(categories.value, link.category.id)};
                    axios.post(change_category_url(link.id, link.category.id))
                        .then(response => { console.log(response.data); })
                        .catch(error => {console.error("Error during changing category", error)})
                }
                
                const onSearchInput = () => {
                    // If the user just deleted last char, show normal links and return
                    if (!search_input.value) {
                        search_results.value = null;
                        links_to_show.value = normal_links.value;
                        return;
                    }
                    
                    let params = {phrase: search_input.value}
                    axios.get(search_link_panel_url, {params})
                        .then(response => {
                            // Truncate links and add readable date
                            preprocessLinks(response.data);
                            search_results.value = response.data;
                            links_to_show.value = response.data;
                            console.log(response.data);
                        })
                        .catch(error => {
                            console.error("Error downloading search result.", error);
                        })
                }
                
                const onSortingChange = () => {
                    console.log("after_change:", profile.value.sorting);
                    axios.patch(`/api/profiles/${profile.value.id}/`, {
                        sorting: profile.value.sorting
                    })
                        .then(response => window.location.href = link_panel_url)
                        .catch(error => console.log("failed to change sorting", error));
                }
                
                
                const onItemsPerPageChange = () => {
                    console.log("item has changed: " + selected_item.value)
                    window.location.href = `${change_links_per_page_url}?new_count=${selected_item.value}`
                }
                
                return {
                    selected_item, onItemsPerPageChange, search_input, onSearchInput,
                    search_results, delLink, categories, onCategoryChange, showLink, links_to_show,
                    links_to_show_computed, editLink, currently_shown_id, sorting_types,
                    profile, onSortingChange, sorting_mapper, show_spinner
                }
            },
            delimiters: ['[[', ']]'],
        }).mount('#link-panel-content')

        
    async function showFacebookPost(link) {
        document.getElementById('right').innerHTML = '<center><div class="fb-post" data-href="' + link + '" data-width="500" data-show-text="true"></div></center>';
        await FB.XFBML.parse();
    }

    async function showTwitterProfile(link) {
        document.getElementById('right').innerHTML = '<center><a class="twitter-timeline" href="' + link +
            '"></a> ' + '</center>';
        
        await twttr.widgets.load()

        // If the loading contents fails, the twitter-timeline element should have no children.
        if (document.querySelector(".twitter-timeline").children.length === 0) {
            document.getElementById("right").innerHTML = 
                '<div style="display: flex; align-items: center; justify-content: center; height: 100%">' +
                    '<div>Nie udało się załadować podglądu. Wyświetl' +
                        ' <a href="' + link + '" target="new">link</a>' +
                        ' w przeglądarce.' +
                    '</div>' +
                '</div>';
        }

    }

    async function showTwitterPost(link) {
        document.getElementById('right').innerHTML = '<blockquote class="twitter-tweet"><a href="' + link +'"></a></blockquote>';
        await twttr.widgets.load();
    }
    
    async function showTiktokVideo(link) {
        const target = "https://www.tiktok.com/oembed?url=" + link;
            
        await fetch(target)
            .then(response => response.json())
            .then(data => {
                const parser = new DOMParser();
                const doc = parser.parseFromString(data.html, 'text/html');
    
                const blockquote_elem = doc.querySelector('blockquote');
                const script_elem = doc.querySelector('script');
    
                const content = document.getElementById("right");
                content.innerHTML = "";
                content.appendChild(blockquote_elem);
    
                let new_script_elem = document.createElement("script");
                new_script_elem.type = "text/javascript";
                new_script_elem.src = script_elem.src;
                content.appendChild(new_script_elem);
        })
    }
    

    async function show(link) {
        
        // check whether link is facebook post
        if (link.includes('facebook.com/post')) {
            await showFacebookPost(link);
        } else if (link.includes('twitter.com') && link.includes('/status/')) {
            await showTwitterPost(link);
        } else if (link.includes('twitter.com')) {
            await showTwitterProfile(link);
        } else if (isTiktokVideo(link)){
            await showTiktokVideo(link);
        }
        else {
            document.getElementById('right').innerHTML = '<div style="display: flex; align-items: center; justify-content: center; height: 100%">' +
                '<div>Wyświetl <a href="' + link + '" target="new">link</a> w przeglądarce</div></div>';
        }
    }

    function del(id) {
        if (confirm("Czy na pewno chcesz usunąć link?")) {
            window.location.href = "/delete_link/" + id +"/link_panel";
        }
    }


    
    </script>

    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    
{% endblock %}
