{% extends 'app_main/base.html' %}
{% load static %}
{% block content %}
        <h1>Panel analityka</h1>

        <center>
            <form>
                <input type="text" placeholder="Szukaj..." name="search" oninput="lookup()" id="search">
            </form>
        </center>

        <div class="table-container">
        <center>
            <button class="button" onclick="window.location.href='{% url 'add_link' 'index' %}'">Dodaj link</button>
        </center>
            <table>
                <tr>
                    <th>Platforma</th>
                    <th>Link</th>
                    <th></th>
                    <th></th>
                </tr>
                {% for link in links %}
                <tr>
                    <td>{{ link.platform }}</td>
                    <td><a href="{{ link.link }}" target="blank">{{ link.short_link }}</a></td>
                    <td><a href="{% url 'edit_link' link.id "index" %}"><img src="{% static 'app_main/pencil.png' %}" style="width: 20px"></a></td>
                    <td><a href="javascript:del({{ link.id }})"><img src="{% static 'app_main/remove.png' %}" style="width: 20px"></a></td>

                </tr>
                {% endfor %}
            </table>
        </div>

        <div class="pagination">
            {% if links.has_previous %}
                <a href="?page=1" class="page-link">&laquo; pierwsza</a>
                <a href="?page={{ links.previous_page_number }}" class="page-link">< poprzednia</a>
            {% endif %}

            <span class="current page-info">
                Strona {{ links.number }} z {{ links.paginator.num_pages }}.
            </span>

            {% if links.has_next %}
                <a href="?page={{ links.next_page_number }}" class="page-link">następna ></a>
                <a href="?page={{ links.paginator.num_pages }}" class="page-link">ostatnia &raquo;</a>
            {% endif %}
        </div>



        <script>
            function del(id) {
                if (confirm("Czy na pewno chcesz usunąć ten link?")) {
                    window.location.href = "/delete_link/" + id + "/" + "index";
                }
            }

            function lookup() {
                // send ajax request to /lookup/phrase
                var phrase = document.getElementById('search').value;
                var url = "/lookup/" + phrase;
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                        // Typical action to be performed when the document is ready:
                        document.getElementsByClassName("table-container")[0].innerHTML = xhttp.responseText;
                    }
                };
                xhttp.open("GET", url, true);
                xhttp.send();
            }
        </script>
{% endblock %}
