{% extends 'app_main/base.html' %}

{% block head %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block content %}
<style>
    .table-container {
        margin-top: 30px;
        margin-bottom: 30px;
    }
</style>

<div class="table-container">
        <table>
            <tr>
                <th> Statystyka </th>
                <th> Wartość </th>
            </tr>
            <tr>
                <td> Liczba linków </td>
                <td> {{ links_number }} </td>
            </tr>
            <tr>
                <td> Liczba linków bez kategorii </td>
                <td> {{ links_without_the_category }} </td>
            </tr>
            <tr>
                <td> Liczba linków z kategorią </td>
                <td> {{ links_with_the_category }} </td>
            </tr>

        </table>
    </div>
    <div class="table-container">
        <table>
            <tr>
                <th> Najczęściej zgłaszane linki </th>
                <th> Liczba zgłoszeń </th>
            </tr>
            {% for link in most_popular_links %}
            <tr>
                <td><a id="link_{{ forloop.counter }}" href="{{ link.link }}">{{ link.link }}</a></td>
                <td>{{ link.report_count }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <canvas class="table-container" id="myBarChart"></canvas>
    {{ category_counts|json_script:"category-chart-data" }}
    <script>
        var dataDict = JSON.parse(document.getElementById('category-chart-data').textContent);
        var barLabels = Object.keys(dataDict);
        var barValues = Object.values(dataDict);

        var ctx = document.getElementById('myBarChart').getContext('2d');
        var myBarChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: barLabels,
                datasets: [{
                    data: barValues,
                    borderWidth: 1
                }]
            },
            options: {
                plugins: {
                    title: {
                        display: true,
                        text: 'Liczba linków w poszczególnych kategoriach',
                        font: {
                            size: 24
                        },
                        padding: {
                            top: 10,
                            bottom: 10
                        },
                        color: '#333'
                    },
                    legend: {
                        display: false
                    }
                },
                scales: {
                    y: {
                        beginAtZero: true,
                        ticks: {
                            precision: 0
                        }
                    }
                }
            }
        });
    </script>
    <script>
        window.onload = function() {
            let links = document.querySelectorAll('a[id^="link_"]');
            links.forEach(function(link) {
                link.textContent = truncateString(link.textContent, 45);
            });
        };
    </script>
{% endblock %}