{% extends 'app_main/base.html' %}

{% block content %}
    <div class="table-container">
        <table>
            <tr>
                <th> Statystyka </th>
                <th> Wartość </th>
            </tr>
            <tr>
                <td> Liczba linków </td>
                <td> {{ links_number }} </td>
            </tr>
            <tr>
                <td> Liczba linków bez kategorii </td>
                <td> {{ links_without_the_cathegory }} </td>
            </tr>
            <tr>
                <td> Liczba linków z kategorią </td>
                <td> {{ links_with_the_cathegory }} </td>
            </tr>

        </table>
    </div>
    <div class="table-container">
        <table>
            <tr>
                <th> Najpopularniejsze linki </th>
                <th> Liczba zgłoszeń </th>
            </tr>
            {% for link in most_popular_links %}
            <tr>
                <td><a id="link_{{ forloop.counter }}" href="{{ link.url }}">{{ link.link }}</a></td>
                <td>{{ link.report_count }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <script>
        window.onload = function() {
            var links = document.querySelectorAll('a[id^="link_"]');
            links.forEach(function(link) {
                link.textContent = truncateString(link.textContent, 45);
            });
        };
    </script>
{% endblock %}